@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

body {
  margin: 0; /* Remove default browser margin */
  background-color: #F7F7F7; /* Matches COLORS.mainBackground from your JS */
  min-height: 100vh; /* Ensure body takes full viewport height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  min-height: 100vh; /* Ensure html also takes full viewport height */
}
